@use '../../assets/styles/var';

main {
  background-color: #f2f2f2;
}

.welcome__title {
  color: #121212;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.welcome__text {
  color: var.$color-grey;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.welcome__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 4rem 7.5rem;
}

.welcome__button {
  width: 103px;
  height: 40px;
  background-color: var.$color-orange;
  color: white;
  border-radius: 5px;
  border-color: transparent;
  cursor: pointer;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
